<footer class="mt-5">
  <div class="text-center py-3" style="color: #fff;">
    <div><b>新中国</b></div>
    <i class="iconfont icon-love"></i>
    <div><b>70</b></a>
    <br>
    <br>

    <%- partial('_partial/busuanzi.ejs') %>

    <%- partial('_partial/beian.ejs') %>
  </div>
</footer>

<!-- SCRIPTS -->
<%- partial('_partial/scripts.ejs') %>
