<%
page.layout = "about"
page.title = __('about.title')
page.subtitle = __('about.subtitle')
page.banner_img = theme.about.banner_img
page.banner_img_height = theme.about.banner_img_height
%>

<div class="text-center">
  <p class="h3"><%= theme.about.name %></p>
  <p><%- theme.about.introduce %></p>
  &nbsp;&nbsp;
  <% for(const i in theme.about.icons) { %>
    <% var href = theme.about.icons[i]; %>
    <% if (!href) continue; %>
    <% if (i.search('weixin') != -1) { %>
      <a href="javascript:;"
         class="h4 wechat">
        <i class="<%- i %>" aria-hidden="true"></i>
          <div class="wechat-qrcode"></div>
      </a>
    <% } %>
    <%if (i.search('qq') != -1) { %>
      <a href="javascript:;"
         class="h4 qq">
        <i class="<%- i %>" aria-hidden="true"></i>
          <div class="qq-qrcode"></div>
      </a>
    <% } %>
    <% if (i.search('weixin') == -1 && i.search('qq') == -1) { %>
      <a href="<%= href %>"
         class="h4">
        <i class="<%- i %>" aria-hidden="true"></i>
      </a>
    <% } %>
    &nbsp;&nbsp;
  <% } %>
</div>
<div class="mt-5 markdown-body">
  <%- about_body() %>
</div>
