<%
if (!page.banner_img) {
  page.banner_img = theme.post.banner_img
}
page.banner_img_height = theme.post.banner_img_height
%>

<div class="container-fluid">
  <div class="row">
    <div class="d-none d-lg-block col-lg-2"></div>
    <div class="col-lg-8 nopadding-md">
      <div class="py-5 z-depth-3" id="board">
        <div class="post-content mx-auto" id="post">
          <div class="markdown-body">
            <%- page.content %>
            <hr>
          </div>
          <br>
          <div>
            <p>
            <% if (page.categories.length > 0) { %>
              <span>
                <i class="iconfont icon-inbox"></i>
                <% page.categories.each(function(cate) { %>
                  <a class="hover-with-bg" href="/categories/<%- encodeURI(cate.name).replace('.', '-') %>"><%= cate.name %></a>
                  &nbsp;
                <% }) %>
              </span>&nbsp;&nbsp;
            <% } %>
            <% if (page.tags.length > 0 ) { %>
              <span>
                <i class="iconfont icon-tag"></i>
                <% page.tags.each(function(tag) { %>
                  <a class="hover-with-bg" href="/tags/<%- encodeURI(tag.name).replace('.', '-') %>"><%= tag.name %></a>
                <% }) %>
              </span>
            <% } %>
            </p>
            <% if(theme.post.copyright.enable && theme.post.copyright.content) { %>
              <p class="note note-warning"><%- theme.post.copyright.content %></p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="d-none d-lg-block col-lg-2 toc-container">
      <%- partial('_partial/toc') %>
    </div> -->
  </div>
</div>

<!-- custom -->
<% if(theme.post.custom.enable) { %>
  <div class="col-lg-7 mx-auto nopadding-md">
    <div class="container custom post-content mx-auto">
      <%- theme.post.custom.content %>
    </div>
  </div>
<% } %>

<!-- Comments -->
<div class="col-lg-7 mx-auto nopadding-md">
  <div class="container comments mx-auto" id="comments">
    <% if(page.comments && theme.post.comments.enable) { %>
      <br><br>
      <% var type = '_partial/comments/' + theme.post.comments.type %>
      <%- partial(type) %>
    <% } %>
  </div>
</div>
